.todo-container {
  background: linear-gradient(to top, #ffffff 0%, #3399ff 100%);
  width: 40vw;
  margin: 10em auto;
  border-radius: 15px;
  border-color: black;
  padding: 20px 10px;
  color: white;
}

.item {
  border: 1px solid white;
  height: 15px;
  padding: 0.5em;
  margin: 0.5em;
}

.item button {
  background: #2248b1;
  margin: 0px 5px;
  padding: 3px 10px;

  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.create-item input[type='text'] {
  width: 90%;
  padding: 0.9em;
  border-radius: 5px;
}

.delete-all {
  width: 35%;
  font-size: 20px;
  background: #da0000;
  cursor: pointer;
  padding-top: 0.3em;
  border-radius: 5px;
}

.input {
  font-size: 15px;
  font-weight: bold;
}
